/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    scroll-snap-type: y mandatory;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

body {
    line-height: calc(1em + 0.75rem);
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
    font-size: 16px;
    color: black;
    background-color: white;
    padding: 0 2ex;
    scroll-snap-align: start;
}

header {
    scroll-snap-align: start;
    padding: 2ex 0;
}

main {
    margin: 4em 0;
}

#subfolders, #thumbnails {
    scroll-snap-align: start;
}

footer {
    scroll-snap-align: end;
}

p {
    max-width: 60em;
}

a {
    color: blue;
    text-decoration: underline;
}

a.subtle {
    text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    object-fit: contain;
}

.flex-masonry {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5em;
}

.flex-masonry > .flex-masonry-outer {
    flex-basis: auto;
    flex-shrink: 0;
}

.flex-masonry > .flex-masonry-outer > .flex-masonry-inner {
    position: relative;
    overflow: hidden;
}

.flex-masonry .thumbnail-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.thumbnail-container img {
    height: 100%;
}

#subfolders h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    font-size: 1.125rem;
    font-weight: normal;
}

#subfolders h2 > a {
    display: block;
    width: 100%;
    padding: 0.25em .5em;
    color: white;
    background-color: #000000a0;
    text-shadow: 0 0 5px black, 1px 0px 1px black, 0px 1px 1px black, -1px 0px 1px black, 0px -1px 1px black;
    text-decoration: none;
}

article.image picture {
    scroll-snap-align: start;
    position: relative;
    left: -2ex;
    display: block;
    width: 100vw;
    height: 100vh;
}

article.image div.description {
    scroll-snap-align: end;
}

article.image picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}