/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: calc(1em + 0.75rem);
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif;  */
    font-size: 16px;
    color: black;
    background-color: white;
    padding: 0 2ex;
}

header {
    padding: 2ex 0;
}

main {
    margin: 4em 0;
}

p {
    max-width: 60em;
}

a {
    color: blue;
    text-decoration: underline;
}

a.subtle {
    text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
}

#subfolders {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    gap: 1ch;
}

#subfolders > article {
    position: relative;
    height: 220px
}

#subfolders > article h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    font-size: 1.125rem;
    font-weight: normal;
    text-wrap: balance;
}

#subfolders > article h2 a {
    display: block;
    width: 100%;
    padding: 0.25em .5em;
    color: white;
    background-color: #000000a0;
    text-shadow: 0 0 5px black, 1px 0px 1px black, 0px 1px 1px black, -1px 0px 1px black, 0px -1px 1px black;
    text-decoration: none;
}

#subfolders > article img {
    object-fit: contain;
    object-position: bottom left;
    height: 100%;
}

article.image picture img {
    position: relative;
    left: -2ex;
    display: block;
    object-fit: contain;
    width: 100vw;
    height: 100vh;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}