/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: black;
    background-color: white;
    padding: 2ex;
}

main {
    max-width: 100ch;
}

a {
    color: blue;
    text-decoration: underline;
}

a.subtle {
    text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
}

article.image picture img {
    position: relative;
    left: -2ex;
    display: block;
    object-fit: contain;
    width: 100vw;
    height: 100vh;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}