<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <h1>Folder: <j2:var>source.path | relative_to(album.source.path)</j2:var> [<j2:var>target | relative_to(root)</j2:var>]</h1>
    <a href="<j2:var>root | relative_to(target)</j2:var>">Home:
        <j2:var>root | relative_to(target)</j2:var></a>

    <ul id="folders">
    <j2:block> for subfolder in source.subfolders </j2:block>
        <li><a href="<j2:var>subfolder.path | relative_to(source.path) | ascii_path</j2:var>"><j2:var>
            subfolder.path | relative_to(source.path) | ascii_path</j2:var></a></li>
    <j2:block> endfor </j2:block>
    </ul>
    
    <ul id="images">
    <j2:block> for image in source.images </j2:block>
        <li>
            IMG: <j2:var>image.path | relative_to(source.path) | ascii_path</j2:var>
        </li>
    <j2:block> endfor </j2:block>
    </ul>
</body>
</html>
