<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <h1>Folder: <j2:var> folder_info.rel_path </j2:var></h1>
    <a href="<j2:var>folder_info.rev_path</j2:var>">Home: <j2:var>folder_info.rev_path</j2:var></a>

    <ul id="navigation">
        <j2:line /> for subfolder in folder.subfolders
            <li><a href="<j2:var>folder_infos[subfolder].rel_path</j2:var>"><j2:var>folder_infos[subfolder].rel_path</j2:var></a></li>
        <j2:line /> endfor
    </ul>
    <j2:comment>a comment</j2:comment>
</body>
</html>
