<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{folder.title}}
        {% if folder != album.target_root %}
            – {{album.title}}
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ (album.target_static / 'style.css') | relative_to(folder.path) }}" />
    <script type="text/javascript" src="{{ (album.target_static / 'script.js') | relative_to(folder.path) }}"></script>
</head>
<body>
    <header>
        <h1>{{folder.title}}</h1>
        <nav>
        {% for parent in folder.parents + [folder] %}
            <a href="{{ parent.path | relative_to(folder.path) }}/index.html">{{parent.title}}</a>
            {{ "→" if not loop.last else "" }}
        {% endfor %}
        </nav>
    </header>

    <main>
    
    <section id="subfolders">
    {% for subfolder in folder.subfolders.values() %}
      %% set image = subfolder.cover_image
      %% set width = image.width
      %% set height = image.height
      %% set aspect_ratio = width / height
      <article class="subfolder" style="aspect-ratio: {{ aspect_ratio }};">
        <h2><a href="{{subfolder.path | relative_to(folder.path)}}/index.html">{{subfolder.title}}</a></h2>
        {% if image %}
        <a href="{{subfolder.path | relative_to(folder.path)}}/index.html">
          <img
            style="aspect-ratio: {{ aspect_ratio }};"
            src="{{ image.path | relative_to(folder.path) }}" alt="{{ subfolder.title }}"
          />
        </a>
        {% endif %}
      </article>
    {% endfor %}
    </section>
    
    <section id="images">
    {% for name, image in folder.images.items() %}
        <article class="image" id="{{ image.path.stem }}">
            <picture style="display: block;">
                <img class="image"
                    src="{{image.path | relative_to(folder.path)}}"
                    alt="{{image.exif.IPTC.Artist}}" />
            </picture>
            <h2><a href="#{{ image.path.stem }}">{{image.title}}
                {% if image.title != image.source.path.stem %}
                <small>[{{image.path.stem}}]</small>
                {% endif %}
            </a></h2>
            <p class="image-description">
                {{image.description or undefined}}
            </p>
            <p class="exposure-info">
                f = {{image.focal_length | human_round or "?"}}mm
                ({{image.focal_length_35mm | human_round or "?"}}mm <small>FOV at 35mm equiv.</small>),
                𝑓/{{image.aperture | human_round or "?"}},
                {{image.shutter_speed | human_round or "?"}}s,
                ISO {{image.iso | human_round or "?"}},
                LV {{image.light_value | human_round or "?"}}
            </p>
            <p class="camera-info">
                {{image.camera}} {{ "+" if image.camera and image.lens else "" }}
                {{image.lens}}
            </p>
            <p>
                <a href="#top" class="subtle">⇧ {{ folder.title }}</a> |
                <a href="javascript:toggleFullscreen()" class="subtle"><span>📺 </span>Full screen</a>
            </p>
        </article>
    {% endfor %}
    </section>
    </main>
  
    <a id="bottom"></a>
    <nav>
    {% for parent in folder.parents + [folder] %}
        <a href="{{ parent.path | relative_to(folder.path) }}/index.html">{{parent.title}}</a>
        {{ "→" if not loop.last else "" }}
    {% endfor %}
    </nav>
</body>
</html>
